header{ 
    background-color:rgb(45, 6, 153);
    text-align: center;
}

body{
    background-color: rgb(45, 6, 153);
}

li{
    border: solid whitesmoke 3px;
    text-size-adjust: 30px;
    display: inline;
    text-align: center;
    background-color: teal;
    padding: 8px;
    margin: 5% 10% 0% 10%
}

nav{
    background-color: rgb(243, 242, 241);
}


h1{
    font: bold;
    font-size: 75px;
    font-style: unset;
    text-align: center;
}

#naruto {
    width: 65%;
    text-align: center;
}

#sasuke {
    text-align: center;
}

p{ 
    color: bisque;
}

#kira{
    width: 55%;
    align-items: stretch;
}

#lsu{
    width: 55%;
}

#jake{
    text-align: right;  
}

