body {
	margin: 0;
	background: #222;
	font-family: 'Work Sans', sans-serif;
	font-weight: 900;
}
header {
    background: #55d6aa;
  }

header::after {
    content: '';
    display: table;
    clear: both;
  }
nav {
text-align: center;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style:cross-fade();

  }
nav li {
    display: inline-block;
     /* margin-left: 100px;  */
    padding-top: 10px;
    margin: 5px 50px 0px 50px;
   
   
  
  }
 nav a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
  }
 /* nav a:hover {
    color: #000;
  }*/
  
  /*nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #444;
  
    position: absolute;
    top: 0;
    width: 0%;
  
    transition: all ease-in-out 250ms;
  }*/
  
  /*nav a:hover::before {
    width: 100%;
  }*/


h1{
    font: bold;
    font-size: 300%;
    font-style: unset;
    text-align: center;
}
#naruto {
    width: 55%;
    text-align: center;
    border-top: 20px;
}

#sasuke {
    text-align: center;
}

p{ 
    color: rgb(250, 250, 250);
}

#kira{
    width: 55%;
    align-items: stretch;
}

#lsu{
    width: 55%;
}

#jake{
    text-align: right;  
}

